@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* @foreach (var country in Model){
        <p>@country.countryName</p>
        <p>@country.lat</p>
        <p>@country.population</p>
        <p>@country.bbox.east</p>
        <p>@country.bbox.south</p>
        <p>@country.bbox.north</p>
        <p>@country.bbox.west</p>
    } *@
    @foreach (var root in Model){
        
        <p>@root.count</p>
        <p>@root.data[0].app_temp</p>
    
    }
</div>
